<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationDatabase" connectionString="Data Source=localhost;Initial Catalog=demo99;User ID=sa;Password=welcome@123"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IRepository" type="Assesment.Inventory.Data.EntityManager.Repository.IRepository, Assesment.Inventory.Data.EntityManager"/>
    <alias alias="BaseRepository" type="Assesment.Inventory.Data.EntityManager.Repository.BaseRepository, Assesment.Inventory.Data.EntityManager"/>
    <alias alias="IItemService" type="Assesment.Inventory.Core.API.Item.IItemService, Assesment.Inventory.Core.API"/>
    <alias alias="ItemService" type="Assesment.Inventory.Core.Item.ItemService, Assesment.Inventory.Core"/>
    <containers>
      <container name="CommonContainer">
        <register type="IRepository" mapTo="BaseRepository"/>
        <register type="IItemService" mapTo="ItemService"/>
      </container>
    </containers>
  </unity>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>